[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"

[packages]
bs4 = "*"
requests = "*"
rarfile = "*"

[requires]
python_version = "3.7"
